
<div *ngIf="isLoading" class="app-loading"></div>

<ng-container *ngIf="!isLoading && showHeader">
  
  <app-global-header
    [sidebarOpen]="sidebarOpen"
    (menuToggled)="onMenuToggle()"></app-global-header>

  
  <app-sidebar (sidebarToggled)="onSidebarToggle($event)"></app-sidebar>

  
  <div class="app-container" [class.with-sidebar]="sidebarOpen">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading && !showHeader">
  <router-outlet></router-outlet>
</ng-container>

<app-idle-warning-modal
  *ngIf="showIdleWarning"
  [remainingSeconds]="remainingSeconds"
  (stayActive)="onStayActive()"
></app-idle-warning-modal>

<app-toast-notification></app-toast-notification>

<app-confirmation-notification></app-confirmation-notification>
